# dependencies
node_modules
.pnp
.pnp.*

# next.js
.next/
out/
*.tsbuildinfo

# production
build
dist
*.tgz

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing / coverage
coverage
*.lcov

# logs
logs
*.log
npm-debug.log*

# caches
.eslintcache
.cache
.tsxcache

# editors
.idea
.vscode
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db

# agents
.kilo
.claude
.gemini
